.refund-section {
  padding: 2rem;
  background-color: #f8f9fa;
}

.table-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem; /* space between the tables */
  margin-bottom: 2rem;
}

.table-wrapper {
  flex: 1;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border: 1px solid darkorange; /* Add a border around each table */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.75rem;
  text-align: left;
  border: 1px solid #ddd; /* Add a border to each cell */
}

th {
  background-color: #f5f5f5;
}

.note {
      background-color: #f9f9f9;
      border-left: 5px solid darkorange;
      padding: 15px;
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: black;
      margin: 20px 0;
    }

.note strong {
      font-weight: bold;
}


select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

select:focus {
  outline: none;
  border-color: #007bff;
}
